@import "@styles/_variables.scss";
section{
  display: flex;
  flex-direction: column;

  
  div{
    width: 100%;
    .container-img{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
      
    }
    .container-btn{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      a{
        li{
          font-size: 2.4em;
        }
        border-bottom:solid 4px $red-main ;
        border-radius: 10px;
        width: 120px;
        height: 150px;
        box-shadow: $shadow-ligh-all;
        color: $red-main;
        text-decoration: none;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
      }
    }
  }
 
}