<section>
  <app-img-top></app-img-top>
  <div class="container-btn-angle">
    <a routerLink="/login-page" class="pi pi-angle-left"></a>
  </div>
  <div>
    <div class="container-img">
      <img src="../../../assets/images/Logo.svg" alt="" />
    </div>
    <div class="container-btn">
      <a routerLink="/register-user-page"
        ><li class="pi pi-user"></li>
        Usuario</a
      >
      <a routerLink="/register-delivery-page"
        ><img src="/assets/images/deliveryman.svg" alt="" /> Repartidor</a
      >
    </div>
  </div>
</section>
