<section class="layout-container relative ">
  <p-menubar [model]="items" styleClass="fixet w-full ">
    <ng-template #start>
      <div class="w-20">
        <img src="/assets/images/Logo.png" alt="" />
      </div>
    </ng-template>
    <ng-template #item let-item let-root="root">
      <a pRipple class="flex items-center p-menubar-item-link">
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
        <p-badge
          *ngIf="item.badge"
          [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
          [value]="item.badge"
        />
        <span
          *ngIf="item.shortcut"
          class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1"
          >{{ item.shortcut }}</span
        >
        <i
          *ngIf="item.items"
          [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"
        ></i>
      </a>
    </ng-template>

    <ng-template #end>
      <div class="flex items-center gap-2">
        <p-button icon="pi pi-times" [style]="{color: 'yellow'}" aria-label="Save" (onClick)="signOut()"/>
      </div>
    </ng-template>
  </p-menubar>
  <main class="mt-3">
    <router-outlet></router-outlet>
  </main>
</section>
