<section class="flex flex-col p-5">
  <app-nav-bar-back
    [icon]="'pi pi-chevron-left'"
    [router]="'/layout-admin/product-page'"
  ></app-nav-bar-back>
  <form
    [formGroup]="productForm"
    class="space-y-4 mt-20"
    (submit)="saveProduct()"
  >
    <!-- Campo: Título -->
    <div class="flex flex-col gap-1">
      <label for="title" class="font-medium">Título:<span class="text-red-500">*</span></label>
      <input
        required
        id="title"
        type="text"
        pInputText
        formControlName="title"
        placeholder="Ingrese el título"
        class="w-full p-2 border rounded-lg"
      />
      @if (productForm.get("title")?.invalid &&
      productForm.get("title")?.touched) {
      <p-message severity="error" variant="simple" size="small"
        >El campo titlo no puede estar vació</p-message
      >
      }
    </div>

    <!-- Campo: Descripción -->
    <div class="flex flex-col gap-1">
      <label for="description" class="font-medium">Descripción:<span class="text-red-500">*</span></label>
      <textarea
        required

        id="description"
        pInputTextarea
        formControlName="description"
        placeholder="Ingrese la descripción"
        class="w-full p-2 border rounded-lg"
      ></textarea>
      @if (productForm.get("description")?.invalid &&
      productForm.get("description")?.touched) {
      <p-message severity="error" variant="simple" size="small"
        >El campo descripción no puede estar vació</p-message
      >
      }
    </div>

    <!-- Campo: Categoría -->
    <div class="flex flex-col gap-1">
      <label for="category" class="font-medium">Categoría:<span class="text-red-500">*</span></label>
      <div class="flex items-center gap-5">
        <p-select
          required
          [options]="categories"
          optionLabel="name"
          placeholder="Selecciona una categoría"
          class="w-full md:w-56"
          formControlName="category"
        />

        <p-button
          icon="pi pi-plus"
          severity="success"
          aria-label="Save"
          (onClick)="openCategoryForm()"
        />
      </div>
      @if (productForm.get("category")?.invalid &&
      productForm.get("category")?.touched) {
      <p-message severity="error" variant="simple" size="small"
        >El campo categoria no puede estar vació</p-message
      >
      }
    </div>

    <!-- Campo: Disponible -->
    <div class="flex flex-col gap-1">
      <label for="available" class="font-medium">Disponible:</label>
      <p-togglebutton
        formControlName="available"
        onLabel="Disponible "
        offLabel="No Disponible"
        onIcon=" pi-check"
        offIcon="pi pi-times"
        onIcon="pi pi-lock"
        offIcon="pi pi-lock-open"
        styleClass="w-auto"
        ariaLabel="Do you confirm"
      />
      <p-message severity="info" variant="simple" size="small"
        >Por defecto el producto no estará disponible</p-message
      >
    </div>
    <!-- Campo: Stock -->
    <div class="flex flex-col gap-1">
      <label for="stock" class="font-medium">Stock:<span class="text-red-500">*</span></label>
      <p-inputnumber
        formControlName="stock"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="horizontal"
        spinnerMode="horizontal"
        required
      >
        <ng-template #incrementbuttonicon>
          <span class="pi pi-plus"></span>
        </ng-template>
        <ng-template #decrementbuttonicon>
          <span class="pi pi-minus"></span>
        </ng-template>
      </p-inputnumber>
      @if (productForm.get("stock")?.hasError("required") &&
      productForm.get("stock")?.touched) {
      <p-message severity="error" variant="simple" size="small"
        >El campo stock no puede estar vació</p-message
      >
      } @if (productForm.get("stock")?.hasError("min") &&
      productForm.get("stock")?.touched) {
      <p-message severity="error" variant="simple" size="small"
        >El stock debe tener mínimo 1 producto</p-message
      >
      }
    </div>

    <!-- Campo: Precio -->
    <div class="flex flex-col gap-1">
      <label for="price" class="font-medium">Precio:<span class="text-red-500">*</span></label>
      <p-inputNumber
        required
        id="price"
        formControlName="price"
        mode="currency"
        currency="USD"
        locale="en-US"
        class="w-full"
      ></p-inputNumber>
      @if (productForm.get("price")?.hasError("required") &&
      productForm.get("price")?.touched) {
      <p-message severity="error" variant="simple" size="small"
        >El campo precio no puede estar vació</p-message
      >
      }@if (productForm.get("price")?.hasError("min") &&
      productForm.get("price")?.touched) {
      <p-message severity="error" variant="simple" size="small"
        >El precio debe tener como mínimo un monto de 100$</p-message
      >
      }
    </div>

    <div class="flex justify-center items-center">
      <p-fileupload
        #fu
        mode="advanced"
        chooseLabel="Choose"
        chooseIcon="pi pi-upload"
        name="demo[]"
        accept="image/*"
        maxFileSize="1000000"
        [showUploadButton]="false"
        [previewWidth]="200"
        (onSelect)="onFileChange($event)"
      />
    </div>

    <!-- Botones del formulario -->
    <div class="flex justify-between">
      <p-button
        type="button"
        label="Cancelar"
        severity="secondary"
        class="w-auto"
      ></p-button>
      <p-button
        type="submit"
        label="Guardar"
        severity="primary"
        class="w-auto"
        [disabled]="productForm.invalid"
      ></p-button>
    </div>
  </form>

</section>
