<p-dialog
  header="Nuevo Producto"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '95vw', maxWidth: '600px', height: '90vh' }"
  [contentStyle]="{
    'overflow-y': 'auto',
    height: '100%',
    display: 'flex',
    'flex-direction': 'column'
  }"
  [breakpoints]="{ '960px': '75vw', '640px': '95vw' }"
  [styleClass]="'custom-dialog'"
  [baseZIndex]="10000"
  [autoZIndex]="true"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="productForm" class="space-y-4" (submit)="saveProduct()">
    <!-- Campo: Título -->
    <div class="flex flex-col gap-1">
      <label for="title" class="font-medium">Título:</label>
      <input
        id="title"
        type="text"
        pInputText
        formControlName="title"
        placeholder="Ingrese el título"
        class="w-full p-2 border rounded-lg"
      />
    </div>

    <div class="flex flex-col gap-1">
      <label for="title" class="font-medium">Stock:</label>
      <p-inputnumber
        [showButtons]="true"
        inputId="stacked"
        mode="decimal"
        currency="USD"
        placeholder="Ingresa el stock"
      />
    </div>

    <!-- Campo: Descripción -->
    <div class="flex flex-col gap-1">
      <label for="description" class="font-medium">Descripción:</label>
      <textarea
        id="description"
        pInputTextarea
        formControlName="description"
        placeholder="Ingrese la descripción"
        class="w-full p-2 border rounded-lg"
      ></textarea>
    </div>

    <!-- Campo: Categoría -->
    <div class="flex flex-col gap-1">
      <label for="category" class="font-medium">Categoría:</label>
      <div class="flex items-center gap-5">
        <p-select
          [options]="categories"
          optionLabel="nombre"
          placeholder="Selecciona una categoría"
          class="w-full md:w-56"
        />

        <p-button
          icon="pi pi-plus"
          severity="success"
          aria-label="Save"
          (onClick)="toggle($event)"
        />
      </div>
      <p-popover #op>
        <span>Crear categoría</span>
        <form
          class="flex flex-col gap-3 items-center"
          [formGroup]="categoryForm"
          (submit)="saveCategory()"
        >
          <div class="flex flex-col gap-1">
            <label for="title" class="font-medium">Título:</label>
            <input
              id="title"
              type="text"
              pInputText
              formControlName="name"
              placeholder="Ingrese el título"
              class="w-full p-2 border rounded-lg"
            />
          </div>
          <p-button
            icon="pi pi-plus"
            severity="success"
            aria-label="Save"
            label="Crear"
            type="submit"
            (onClick)="toggle($event)"
          />
        </form>
      </p-popover>
    </div>

    <!-- Campo: Disponible -->
    <!--   <div class="flex flex-col gap-1">
    <label for="available" class="font-medium">Disponible:</label>
    <p-inputSwitch
      id="available"
      formControlName="available"
      class="w-full"
    ></p-inputSwitch>
  </div> -->

    <!-- Campo: Precio -->
    <div class="flex flex-col gap-1">
      <label for="price" class="font-medium">Precio:</label>
      <p-inputNumber
        id="price"
        formControlName="price"
        mode="currency"
        currency="USD"
        locale="en-US"
        class="w-full"
      ></p-inputNumber>
    </div>

    <!-- Selector de imagen mejorado -->
    <div class="flex flex-col gap-1">
      <label class="font-medium">Imagen del producto:</label>

      <div class="flex gap-2">
        <!-- Botón para abrir cámara -->
        <!-- <p-button
          icon="pi pi-camera"
          label="Tomar foto"
          (onClick)="takePhoto()"
          class="flex-1"
        ></p-button> -->

        <!-- Botón para seleccionar de galería -->
        <!--   <p-button
          icon="pi pi-images"
          label="Desde galería"
          (onClick)="pickFromGallery()"
          class="flex-1"
          formControlName="img"
        ></p-button> -->
        <input
          pInput
          type="file"
          formControlName="img"
          accept="image/*"
          (change)="onFileChange($event)"
          placeholder="Selecciona la imagen"
        />
      </div>

      <!-- Vista previa -->
      @if (previewImageUrl) {
      <div class="mt-2 border rounded-lg p-2">
        <img
          [src]="previewImageUrl"
          alt="Vista previa"
          class="max-h-40 mx-auto rounded-lg"
        />
      </div>
      }
    </div>

    <!-- Botones del formulario -->
    <div class="flex justify-end gap-2">
      <p-button
        type="button"
        label="Cancelar"
        severity="secondary"
        (click)="hideDialogCreateProduct()"
        class="w-full md:w-auto"
      ></p-button>
      <p-button
        type="submit"
        label="Guardar"
        severity="primary"
        class="w-full md:w-auto"
      ></p-button>
    </div>
  </form>
  <p-toast />
</p-dialog>
