<nav>
  <ul>
    <li>
      <a routerLink="order-page" routerLinkActive="active">
        <span class="pi pi-reply"></span>
        <p>Pedido</p>
      </a>
    </li>
    <li>
      <a routerLink="perfil-page" routerLinkActive="active">
        <span class="pi pi-user"></span>
        <p>Perfil</p>
      </a>
    </li>
    <li>
      <a routerLink="home-page" routerLinkActive="active">
        <span class="pi pi-home"></span>
        <p>Home</p>
      </a>
    </li>
    <li>
      <a routerLink="search-page" routerLinkActive="active">
        <span class="pi pi-search"></span>
        <p>Buscar</p>
      </a>
    </li>
    <li>
      <a routerLink="car-page" routerLinkActive="active">
        <span class="pi pi-shopping-cart"></span>
        <p>Carrito</p>
      </a>
    </li>
  </ul>
</nav>
