<div class="flex flex-col gap-1 w-full">
  <div class="p-inputgroup h-[43px] rounded-[10px]">
    <span
      class="p-inputgroup-addon h-full bg-white border flex items-center justify-center p-3 rounded-l-[7px]"
    >
      <i class="pi pi-lock text-gray-400"></i>
      <!-- Ícono a la izquierda -->
    </span>
    <input
      pInputText
      [placeholder]="placeholder"
      [type]="showPassword ? 'text' : 'password'"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onBlur()"
      class="w-full p-3 h-full rounded-r-none focus:outline-none border-gray-300 border-[0.2px] border-solid"
    />

    <button
      pButton
      type="button"
      (click)="togglePasswordVisibility()"
      class=" bg-white hover:bg-gray-100 p-2 h-full rounded-r-[7px] border-gray-300 border-solid border-[1px] "

    >
      <span [class]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"></span>
    </button>
  </div>
  @if (control?.invalid && control?.touched) {
  <p-message severity="error" variant="simple" size="small"
    >El campo contraseña no puede estar vació</p-message
  >
  }
</div>
