<div class="p-inputgroup h-[43px] rounded-[10px]">
  <span
    class="p-inputgroup-addon h-full bg-white border flex items-center justify-center p-3 rounded-l-[7px]"
  >
    <i class="pi pi-lock text-gray-400"></i>
    <!-- Ícono a la izquierda -->
  </span>
  <input
    [type]="showPassword ? 'text' : 'password'"
    pInputText
    [placeholder]="placeholder"
    class="w-full p-3 h-full rounded-r-none focus:outline-none border-gray-300 border-[0.2px] border-solid"
  />

  <button
    pButton
    type="button"
    (click)="togglePasswordVisibility()"
    class="p-button-outlined border bg-white hover:bg-gray-100 p-2 h-full rounded-r-[7px]"
  >
    <span [class]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"></span>
  </button>
</div>
