<section class="min-h-screen bg-white">
  <app-nav-bar-back
    [icon]="'pi pi-chevron-left'"
    [router]="'/layout/home-page'">
  </app-nav-bar-back>
  @if (loading()) {
    <app-spinner ></app-spinner>
  }@else {
    <div class="pt-14 pl-3 pr-3">
      <h1 class="text-2xl font-bold text-start mt-3 mb-6">AREPAS RELLENAS</h1>
      <div class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(160px,1fr))]">
        @for (product of products; track $index) {
          <app-product-card [id]="product.idProduct ? product.idProduct : ''" [product]="product"></app-product-card>
        }
      </div>
    </div>
  }

</section>
