<div class="space-y-3 p-4">
  <a
    routerLink="/perfil/editar"
    class="flex items-center justify-between bg-white border border-gray-200 rounded-lg shadow-sm p-3 hover:bg-gray-50 transition">
    <div class="flex items-center space-x-3">
      <span class="pi pi-user-edit text-xl text-blue-500"></span>
      <span class="text-gray-700 font-medium">Editar perfil</span>
    </div>
    <span class="pi pi-angle-right text-gray-400"></span>
  </a>

  <a
    routerLink="/ayuda"
    class="flex items-center justify-between bg-white border border-gray-200 rounded-lg shadow-sm p-3 hover:bg-gray-50 transition">
    <div class="flex items-center space-x-3">
      <span class="pi pi-question-circle text-xl text-green-500"></span>
      <span class="text-gray-700 font-medium">Ayuda</span>
    </div>
    <span class="pi pi-angle-right text-gray-400"></span>
  </a>

  <button
    (click)="confirmSignOut($event)"
    class="w-full flex items-center justify-between bg-white border border-gray-200 rounded-lg shadow-sm p-3 hover:bg-gray-50 transition">
    <div class="flex items-center space-x-3">
      <span class="pi pi-sign-out text-xl text-red-500"></span>
      <span class="text-gray-700 font-medium">Cerrar sesión</span>
    </div>
    <span class="pi pi-angle-right text-gray-400"></span>
  </button>
  @if (showModal()) {
    <p-confirmDialog (onHide)="onDialogHide()"></p-confirmDialog>
  }
</div>
