$red-main: #FF4E2E;
$red-secundary: #ff7b63;
$blue-gray: #CBD5E1;
$black-gray-ligh: #64748B;
$yellow-main: #FFD700;
$green: #3CB371;
$white: #ffffff;
$black: #000000;

$shadow-ligh-all: 2px 2px 4px #0000003b , -2px -2px 4px #0000003b;
$shadow-ligh-inset-all:inset 10px 10px 20px #0000003b ,inset -10px -10px 20px #0000003b;
$shadow-ligh-right: 2px 2px 4px #0000003b;