<div class="login-page-container">
    <app-img-top [title]="perfil"> </app-img-top>
    <div class="form-section-container">
        <div class="form-container">
            <form action="">
                <app-input-text class="w-full" [label]="'Nombre'" [placeholder]="'Ingrese nombre de usuario'"
                    [icon]="'pi pi-user-plus'">
                </app-input-text>
                <app-input-text class="w-full" [label]="'Teléfono'" [placeholder]="'Ingrese teléfono de usuario'"
                    [icon]="'pi pi-phone'"></app-input-text>
                <app-input-text class="w-full" [label]="'Correo'" [placeholder]="'Ingrese correo de usuario'"
                    [icon]="'pi pi-envelope'"></app-input-text>
                <app-input-text class="w-full" [label]="'Dirección'" [placeholder]="'Ingrese dirección de usuario'"
                    [icon]="'pi pi-send'"></app-input-text> 
                <app-button label="Actualizar" [click]="nextForm"> </app-button>    



            </form>
        </div>
    </div>



</div>