<section class="login-page-container">
  <!-- <div class="img-top"></div> -->
   <!-- Imagen superior -->
  <app-img-top></app-img-top>

  <div class="btn-back">
    <a routerLink="/register-user-form1" class="pi pi-angle-left"></a>
  </div>

  <div class="form-section-container">
    <img src="../../../assets/images/Logo.svg" alt="" />
    <div class="form-container">
      <h3>Completa los campos para continuar</h3>
      <form [formGroup]="formClient">

        <p-inputgroup>
          <p-inputgroup-addon>
            <i class="pi pi-envelope"></i>
          </p-inputgroup-addon>
          <input pInputText placeholder="Correo" formControlName="email" />
        </p-inputgroup>

        <app-input-password [placeholder]="'Contraseña'" formControlName="password"></app-input-password>
        <app-input-password
          [placeholder]="'Repetir Contraseña'"
        ></app-input-password>

        <p-button label="Registrarse" (onClick)="registerUser()" />
      </form>
    </div>
  </div>
  <p-toast />
</section>
