@import "@styles/_variables.scss";

.login-page-container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit 1fr;
  position: relative;

  .img-top{
    display: flex;
    background-image: url("/assets/images/top-image.svg");
    background-size: cover; // La imagen cubrirá toda la pantalla
    background-position:  bottom; // Centrado en la parte superior
    background-repeat: no-repeat; // Sin repetir la imagen
    height:90%; // Puedes ajustar este valor según el diseño que necesites
    width: 100%;
  }
  .form-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    grid-row: 2;
    
    .form-container{
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      min-width: 300px;
      padding: 15px;
      box-shadow: $shadow-ligh-all;
      border-radius: 13px;
      
      form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        .w-full{
          width: 100%;
        }
      }

      h3{
        color: $black-gray-ligh;
      }
    }
    
    a{
      text-align: center;
      color: #000000;
      width: 200px;
    }
  }

}