<section class="p-2 flex flex-col gap-4 h-screen relative overflow-hidden">
  <!-- Encabezado y controles -->
  <div class="sticky top-0 bg-white z-10 pb-2">
    <h1 class="text-[1.5em] font-bold text-orange_primary">Productos</h1>

    <div class="flex flex-col gap-3 w-full mt-3">
      <div class="flex justify-between flex-col gap-2">
        <div class="flex gap-5">
          <p-button
            icon="pi pi-plus"
            severity="success"
            label="Crear Producto"
            (onClick)="openProductsForm()"
            styleClass="p-button-sm md:p-button" />
          <p-button
            variant="outlined"
            icon="pi pi-plus"
            label="Categorias"
            (onClick)="openCategoryPage()"
            styleClass="p-button-sm md:p-button" />
        </div>
        <p-inputGroup class="flex-1">
          <p-inputGroupAddon>
            <i class="pi pi-search"></i>
          </p-inputGroupAddon>
          <input
            type="text"
            pInputText
            placeholder="Buscar por nombre"
            class="w-full"
            (input)="applyFilter()" />
        </p-inputGroup>
      </div>

      <div class="flex flex-wrap gap-2">
        <p-dropdown
          [options]="categories"
          (onChange)="applyFilter()"
          optionLabel="name"
          placeholder="Categoría"
          styleClass="flex-1 min-w-[150px]"></p-dropdown>

        <p-inputNumber
          [showButtons]="true"
          mode="currency"
          currency="COP"
          [(ngModel)]="valuePriceFilter"
          placeholder="Precio máximo"
          styleClass="flex-1 min-w-[150px]"></p-inputNumber>
      </div>
    </div>
  </div>

  <!-- Contenido desplazable -->
  <div class="flex-1 overflow-y-auto">
    <p-dataView #dv [paginator]="true" [rows]="8" [value]="products">
      <ng-template #list let-products>
        @for (product of products; track $index) {
          <div class="flex items-center p-2 border-b gap-3">
            <img
              [src]="
                product.img ? product.img : '/assets/images/img-default.jpg'
              "
              [alt]="product.title"
              class="w-16 h-16 object-cover rounded" />
            <div class="flex-1 min-w-0">
              <h3 class="font-medium truncate">{{ product.title }}</h3>

              <p class="text-sm text-gray-600 font-bold">
                {{ product.price | currency: 'COP ' : 'symbol' : '1.0-0' }}
              </p>

              <p>
                Disponibles: <p-tag
                  [severity]="product.available ? 'success' : 'danger'"
                  [value]="
                    product.available ? 'Disponible' : 'No Disponible'
                  " />
              </p>
            </div>
            <div class="flex gap-1">
              <p-button
                icon="pi pi-pencil"
                severity="info"
                (onClick)="openDetailProuct(product)" />
              <p-button
                icon="pi pi-trash"
                severity="danger"
                (onClick)="confirmDelete($event, product.idProduct)" />
            </div>
          </div>
        }
      </ng-template>
    </p-dataView>
  </div>
  <p-toast />
  <p-confirmdialog />
</section>
