<section class="container-home-page">
  <app-img-top></app-img-top>
  <div class="w-full px-2 text-start ">
    <h2 class="text-2xl font-bold  text-start  mb-6 text-[#FF4E2E]">
      MENÚ
    </h2>
  </div>
  <div class="grid grid-cols-2 gap-4 p-4">
    <!-- Tarjeta AREPAS -->
    <a routerLink="/layout/arepa-page" class="bg-white rounded-lg shadow-sm border border-gray-200 flex flex-col items-center p-4 hover:shadow-md transition justify-between">
      <img src="/assets/images/arepas.webp" alt="Arepas" class="w-18 h-18 object-contain mb-2" />
      <p class="text-sm  text-gray-800 font-bold">AREPAS</p>
    </a>

    <!-- Tarjeta JUGOS -->
    <a routerLink="/layout/juice-page" class="bg-white rounded-lg shadow-sm border border-gray-200 flex justify-between flex-col items-center p-4 hover:shadow-md transition">
      <img src="/assets/images/jugos.webp" alt="Jugos" class="w-18 h-18 object-contain mb-2" />
      <p class="text-sm text-gray-800 font-bold">JUGOS</p>
    </a>

    <!-- Tarjeta GASEOSAS -->
    <a routerLink="/layout/soda-page" class="bg-white rounded-lg shadow-sm border border-gray-200 flex flex-col items-center p-4 hover:shadow-md transition justify-between">
      <img src="/assets/images/gaseosas.webp" alt="Gaseosas" class="w-18 h-18 object-contain mb-2" />
      <p class="text-sm text-gray-800 font-bold">GASEOSAS</p>
    </a>
    <a routerLink="/layout/empanada-page" class="bg-white rounded-lg shadow-sm border border-gray-200 flex flex-col items-center p-4 hover:shadow-md transition justify-between">
      <img src="/assets/images/empanadas.webp" alt="Empanadas" class="w-18 h-18 object-contain mb-2" />
      <p class="text-sm text-gray-800 font-bold">EMPANADAS</p>
    </a>
  </div>
</section>
