<section class="car-page-container">
  <app-img-top [title]="'Carrito'"></app-img-top>

  <div class="total-container p-[10px_20px_0_20px] flex justify-between items-center">
    <h4 class="flex flex-col font-semibold text-[1.2em] text-red-main text-orange_primary">
      Total:
      <span class="font-semibold text-[1.3em] text-black">$ {{ total }}</span>
    </h4>
    <app-button
      [label]="'Comprar'"
      [iconActive]="true"
      [icon]="'pi pi-shopping-bag'"
    ></app-button>
  </div>
  <div class="products-container mt-[40px] mx-[10px] ">
    <div class="product h-[110px] flex border shadow-light-all rounded-[10px] justify-between items-center overflow-hidden pr-[10px] gap-[5px]">
      <div class="img-container w-[130px] min-h-full overflow-hidden relative shadow-light-inset-all">
        <img
          src="/assets/images/arepa-de-huevo.jpeg"
          alt=""
          class="absolute w-full h-full object-cover top-0 left-0"
        />
      </div>
      <div class="flex items-center gap-5">
      <div class="txt-container">
        <h3 class="text-[1.2em] font-semibold text-red-main">Arepa de huevo</h3>
        <span class="text-yellow-main text-[1.3em] font-semibold text-orange_primary">$ 5000</span>
      </div>
      <div class="h">
        <p-inputnumber [min]="1" [max]="100"   [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" [inputStyle]="{ width: '3rem', height:'1.9em' }" >
          <ng-template #incrementbuttonicon>
              <span class="pi pi-plus"></span>
          </ng-template>
          <ng-template #decrementbuttonicon>
              <span class="pi pi-minus"></span>
          </ng-template>
      </p-inputnumber>
      </div>
      <app-button-circle [icon]="'pi pi-trash'"></app-button-circle>
    </div>
    </div>
  </div>
</section>
