@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "primeicons/primeicons.css";
@import "@styles/_variables.scss";

*{
  font-family: "Roboto", serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent; /* Elimina el efecto de highlight en iOS y Android */
}

html, body{
  height: 100%;
}


.container-btn-angle{
  padding-left:30px ;
  width: 100%;
  a{
    font-size: 2.5em;
    text-decoration: none;
    color: $red-main;
    justify-self: start;
  }
}


button{
  border-radius: 5px;
  border: none;
  
}

$red-main: "#FF4E2E";
$blue-gray: "#CBD5E1";
$black-gray-ligh: "#64748B";

